{% extends 'base.html.twig' %}

{% block title %}{{ chat.name }}{% endblock %}

{% block body %}

    <div class="articles">
        <a href="{{ path('post') }}" class="btn-primary btnShowBack"><i class="fas fa-chevron-left"></i>Retour</a>
    </div>


    <div class="container">
      <h1 class="titleChat">{{ chat.name }}</h1>

      <div class="newGoogleMeet">
        <img src="{{ asset('images/googleMeet.png') }}" alt="google-meet" srcset="">
        <a href="https://meet.google.com/new" target="_blank">Ouvrir un Google Meet</a>
      </div>
      <div class="chatContent">
        <div class="chatContainer">
          <div id="ws-content-receiver">
            {% for msg in chat.messages %}
            <div class="message">
              <div class="messageLeft">
                <span class="messageAuthor">{{ msg.authorMsg }} : </span>
                <span class="messageContent">{{ msg.content }}</span>
              </div>
              <span class="messageDate">{{ msg.createdAt | date('d/m/Y à H:i') }}</span>
            </div>
            {% endfor %}
          </div>
          <div class="contentInputBtn">
            <input type="text" id="ws-content-to-send" />
            <button id="ws-send-content">Envoyer</button>
          </div>
        </div>
      </div>
    </div>


{% endblock %}

{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript">
  let wsUrl = '{{ ws_url }}';
  let userName = '{{ app.user.username }}';
  let chanAnswer = '{{ chat.name }}';
  </script>
  <script type="text/javascript" src="{{ asset('js/sf-websocket.js') }}"></script>
{% endblock %}
