{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel article{% endblock %}

{% block body %}
    <h1>Créer un nouvel article</h1>

    {% form_theme formPost 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form_start(formPost) }}

    {{ form_row(formPost.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(formPost.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}

    <button type="submit" class="btn btn-success">
        Ajouter l'article
    </button>

    {{ form_end(formPost) }}
    <a href="{{ path('post') }}" class="btn-primary">Retour</a>


{% endblock %}
