
{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<section id="article" class="articleShow">
        <a href="{{ path('post') }}" class="btn-primary btnShowBack"><i class="fas fa-chevron-left"></i>Retour</a>
        <h1 class="titleShow">{{ post.title }}</h1>
        <div class="article textShow">
            {{ post.content | raw }}
        </div>
    </section>

    <section id="commentaires" class="commentaires">
        <h2>Les commentaires</h2>
        {% for comment in post.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col">
                        <p>{{ comment.content | raw }}</p>
                    </div>
                    <div class="col-3 textShowCreatedAt">
                        {% if comment.author.levelReward >=0 and comment.author.levelReward <=5 %}
                            {{ comment.author }}
                            <img src="https://static-cdn.jtvnw.net/badges/v1/0d85a29e-79ad-4c63-a285-3acd2c66f2ba/1" alt="">
                        {% elseif comment.author.levelReward >5 and comment.author.levelReward <=10 %}
                            <I>{{ comment.author }} </I>
                            <img src="https://static-cdn.jtvnw.net/badges/v1/57cd97fc-3e9e-4c6d-9d41-60147137234e/1" alt="">
                        {% elseif comment.author.levelReward >10 and comment.author.levelReward <=20 %}
                            <I>{{ comment.author }} </I>
                            <img src="https://static-cdn.jtvnw.net/badges/v1/68af213b-a771-4124-b6e3-9bb6d98aa732/1" alt="">
                        {% elseif comment.author.levelReward >20 %}
                            <strong>{{ comment.author }} </strong>
                            <img src="https://static-cdn.jtvnw.net/badges/v1/64ca5920-c663-4bd8-bfb1-751b4caea2dd/1" alt="">
                        {% endif %}
                        (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                    </div>
                    {% if (post.author.id == security.id and post.isPublished == true )  %}
                    <a href="{{ path('post_answer',{id_post: post.id, id_author:comment.id}) }}" class="linkChooseAuthor">
                        <i class="fas fa-check"></i>
                        Choisir {{ comment.author }} pour m'aider à résoudre mon problème
                    </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
    {% if post.isPublished %}
    <section class="commentaires">
        <h2>Créer un nouveau commentaire</h2>

        {% form_theme formComment 'bootstrap_4_horizontal_layout.html.twig' %}
        {{ form_start(formComment) }}

        {{ form_row(formComment.content, {'attr': {'placeholder': "Contenu du commentaire"}}) }}

        <div class="contentBtnAdd">
            <button type="submit" class="btn btn-success">
                Ajouter le commentaire
            </button>
        </div>

        {{ form_end(formComment) }}
    </section>
    {% endif %}

{% endblock %}
