
{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<section id="article" class="articleShow">
        <a href="{{ path('post') }}" class="btn-primary btnShowBack"><i class="fas fa-chevron-left"></i>Retour</a>
        <h1 class="titleShow">{{ post.title }}</h1>
        <div class="article textShow">
            {{ post.content | raw }}
        </div>
    </section>

    <section id="commentaires" class="commentaires">
        <h2>Les commentaires</h2>
        {% for comment in post.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col">
                        <p>{{ comment.content | raw }}</p>
                    </div>
                    <div class="col-3 textShowCreatedAt">
                        {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                    </div>
                    {% if (post.author.id == security.id and post.isPublished == true )  %}
                    <a href="{{ path('post_validate',{id_post: post.author.id, id_author:comment.author.id}) }}" class="linkChooseAuthor">
                        <i class="fas fa-check"></i>
                        Choose {{ comment.author }} to answer my question
                    </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
    {% if post.isPublished == true %}
    <section class="commentaires">
        <h2>Créer un nouveau commentaire</h2>

        {% form_theme formComment 'bootstrap_4_horizontal_layout.html.twig' %}
        {{ form_start(formComment) }}

        {{ form_row(formComment.content, {'attr': {'placeholder': "Contenu du commentaire"}}) }}

        <div class="contentBtnAdd">
            <button type="submit" class="btn btn-success">
                Ajouter le commentaire
            </button>
        </div>

        {{ form_end(formComment) }}
    </section>
    {% endif %}

{% endblock %}
